* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

h1,
h2,
p {
    color: #f8efd2;
}


.video-container {
    position: relative;
    /* 将视频容器改为相对定位 */
    width: 100%;
    height: 100vh;
    /* 设置视频容器高度为页面的一半 */
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at center, transparent 100px, black 150px);
    filter: blur(0px);
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    background-color: #00000080;
    border-radius: 10px;
    padding: 50px;
}

button {
    background-color: #698980;
    border: none;
    color: #f8efd2;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #af3c33;
}


.toutu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    background-color: black;
}

#mubuzuo,
#mubuyou {
    max-width: 100vh;
    /* 控制图片最大宽度 */
    height: auto;
    z-index: 2;
}

#页面一标题 {
    font-size: 6vw; 
    text-align: center;
}
