* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* 防止横向滚动 */
}

h1,
h2,
p {
    color: #f8efd2;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at center, transparent 100px, black 150px);
    filter: blur(0px);
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    background-color: #00000080;
    border-radius: 10px;
    padding: 2vw;
    width: 80%;
    max-width: 600px;
}

button {
    background-color: #698980;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #af3c33;
}

.toutu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    background-color: black;
}

#mubuzuo,
#mubuyou {
    max-width: 100vh;
    height: auto;
    z-index: 2;
}

#页面一标题 {
    font-size: 5vw;
    text-align: center;
}

/* 响应式设计部分 */
@media (max-width: 1200px) {
    #页面一标题 {
        font-size: 6vw;
    }

    .content {
        padding: 3vw;
    }

    button {
        padding: 1.5vw 3vw;
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    #页面一标题 {
        font-size: 7vw;
    }

    .content {
        padding: 4vw;
    }

    button {
        padding: 2vw 4vw;
        font-size: 1.4rem;
    }

    #mubuzuo,
    #mubuyou {
        max-width: 80vh;
    }
}

@media (max-width: 768px) {
    #页面一标题 {
        font-size: 8vw;
    }

    .content {
        padding: 5vw;
    }

    button {
        padding: 2.5vw 5vw;
        font-size: 1.6rem;
    }

    #mubuzuo,
    #mubuyou {
        max-width: 70vh;
    }
}

@media (max-width: 576px) {
    #页面一标题 {
        font-size: 9vw;
    }

    .content {
        padding: 6vw;
    }

    button {
        padding: 3vw 6vw;
        font-size: 1.8rem;
    }

    #mubuzuo,
    #mubuyou {
        max-width: 60vh;
    }
}
